@import './../../../node_modules/@chrisb-dev/seasonal-shared-frontend-components/dist/styles/settings';
@import './../../../node_modules/@chrisb-dev/seasonal-shared-frontend-components/dist/styles/tools';

.c-summary-column-list {
  display: flex;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
}
