@import './../../../node_modules/@chrisb-dev/seasonal-shared-frontend-components/dist/styles/settings';
@import './../../../node_modules/@chrisb-dev/seasonal-shared-frontend-components/dist/styles/tools';

.c-android-app-download {
  max-width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  &:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($background-color, 0.8);
  }
}

  .c-android-app-download__image {
    width: 100%;
  }
