@import '../../styles/settings';
@import '../../styles/tools';

.c-food-details-top-section {
  width: 100%;
  border-bottom: 1px solid $grey-med;
}

  .c-food-details-top-section__food-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
    height: 10rem;
    @include mq($from: tablet) {
      height: 20rem;
    }
  }
