@import './../../../node_modules/@chrisb-dev/seasonal-shared-frontend-components/dist/styles/settings';
@import './../../../node_modules/@chrisb-dev/seasonal-shared-frontend-components/dist/styles/tools';

.c-food-details-loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$default-top-margin});
}
