@import '../../styles/settings';

.c-multiselect {
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;
  border: $input-border;
  border-radius: $input-border-radius;
}

.c-multi-select-option {
  padding: 0.25rem;
  color: $primary-text-color;
}

  .c-multi-select-option--selected {
    background-color: $primary-color;
    color: $white-color;
  }
