@import './../../styles/settings';
@import './../../styles/tools';

.c-toast {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 2rem;
  position: fixed;
  width: 100%;
}
  .c-toast--info {
    background-color: $selection-color-alt-2;
  }
  .c-toast--error {
    background-color: $error-color;
  }

.c-toast__close-btn {
  width: 40px;
  min-width: 40px;
}

.c-toast__cross-icon {
  fill: $white-color;
}
