.c-data-form {
  position: relative;
  max-width: 100%;
  width: 600px;
  margin: auto;
  padding: 40px 20px;
}

.c-data-form__field {
  display: block;
  margin-bottom: 12px;
}

.c-data-form__label {
  margin-bottom: 6px;
  display: block;
}

.c-data-form__input {
  width: 100%;
}

.c-data-form__submit-btn {
  width: 100%;
  margin-top: 12px;
}

.c-data-form__loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
