.c-data-form {
  position: relative;
}

.c-data-form__field {
  display: block;
  margin-bottom: .75rem;
}

.c-data-form__label {
  margin-bottom: .375rem;
  display: block;
}

.c-data-form__input {
  width: 100%;
}

  .c-data-form__input--checkbox {
    width: initial;
  }

.c-data-form__submit-btn {
  width: 100%;
  margin-top: .75rem;
}

.c-data-form__loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
