.c-full-list {
  position: relative;
}

.c-full-list__item {
  margin-bottom: 1rem;
}

.c-full-list__item-name {
  display: block;
}

.c-full-list-item__options {
  display: flex;
}

.c-full-list-item__edit {
  padding-left: 0;
}
