@import '../../styles/settings';

.c-full-list__heading {
  border-bottom: 1px solid $grey-med;
  display: block;
  margin-bottom: 1.75rem;
  padding-bottom: 0.5rem;
}

.c-full-list__item {
  margin-bottom: 1rem;
}

.c-full-list__item-name {
  display: block;
}

.c-full-list-item__options {
  display: flex;
}

.c-full-list-item__edit {
  padding-left: 0;
}
