.c-coordinate-array-input__row {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
}

.c-coordinate-array-input__delete-btn {
  margin-left: .25rem;
  width: 32px;
  display: flex;
  align-items: center;
}

.c-coordinate-array-input__add-btn {
  padding-top: 10px;
  padding-bottom: 11px;
}
